@charset "utf-8";
/* CSS Document */

/* ---------- ENTYPO ---------- */
/* ---------- http://www.entypo.com/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	font-family: '나눔바른고딕',''NanumGothic',Sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

a { text-decoration: none; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- Menulbox ---------- */


#menubox {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 50px auto;
	width: 240px;
}

#menubox header {
	background-color: #4f4245;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #ecf0f1;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

#menubox ul {
	background-color: #ecf0f1;
}

#menubox ul li {
	border-bottom: 1px solid #a6a8a9;
	color: #776b6c;
	height: 40px;
	line-height: 40px;
	padding: 0 24px;
}

#menubox ul li:hover {
	background-color: #56a3c7;
	color: #ecf0f1;
}

#menubox ul li:hover a {
	color: #ecf0f1;
}

#menubox ul li span[class*="entypo"] {
	display: inline-block;
	padding-right: 18px;
	width: 16px;
}

#menubox ul li a {
	color: #3e4146;
}

#menubox ul li span[class*="count"] {
	float: right;
}

